@model ELibrary.ViewModel.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                Sales Dashboard
            </h6>
            <div class="element-content">
                <div class="row">
                    <div class="col-sm-4 ">
                        <a class="element-box el-tablo" href="#">
                            <div class="label">
                                Books In Stock
                            </div>
                            <div class="value">
                                @Model.NumberOfBooks
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 ">
                        <a class="element-box el-tablo" href="#">
                            <div class="label">
                                Total Users
                            </div>
                            <div class="value">
                                @Model.NumberOfUsers
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 ">
                        <a class="element-box el-tablo" href="#">
                            <div class="label">
                                Categories
                            </div>
                            <div class="value">
                                @Model.NumberCategories
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 ">
        <div class="element-wrapper">
            <h6 class="element-header">
                New Books
            </h6>
            <div class="element-box">
                <div class="table-responsive">
                    <table class="table table-lightborder">
                        <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Cover Image
                                </th>
                                <th class="text-center">
                                    Category
                                </th>
                                <th class="text-right">
                                    Author
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var book in Model.Books){
                            <tr>
                                <td class="nowrap">
                                    @book.Name
                                </td>
                                <td>
                                    <div class="cell-image-list">
                                        <div class="cell-img"
                                             style="background-image: url(@book.ImageUrl)">
                                        </div>
                                        
                                    </div>
                                </td>
                                <td >
                                    @book.Category.Name
                                </td>
                                <td>
                                    @book.Author
                                </td>
                            </tr>
                            
                           }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 ">
        <!--START - Top Selling Chart-->
        <div class="element-wrapper">
            <h6 class="element-header">
                Top Books
            </h6>
            <div class="element-box">
                <div class="el-chart-w">
                    <canvas height="120" id="booksChart" width="120"></canvas>
                    <div class="inside-donut-chart-label">
                        <strong>@Model.NumberOfBooks</strong><span>Total Books</span>
                    </div>
                </div>
                <div class="el-legend condensed">
                    <div class="row">
                        <div class="col-auto ml-sm-auto mr-sm-auto col-6">
                            <div class="legend-value-w">
                                <div class="legend-pin legend-pin-squared"
                                     style="background-color: #6896f9;"></div>
                                <div class="legend-value">
                                    <span>Books</span>
                                    <div class="legend-sub-value">
                                        @Model.NumberOfBooks
                                    </div>
                                </div>
                            </div>
                            <div class="legend-value-w">
                                <div class="legend-pin legend-pin-squared"
                                     style="background-color: #85c751;"></div>
                                <div class="legend-value">
                                    <span>Users</span>
                                    <div class="legend-sub-value">
                                        @Model.NumberOfUsers
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="legend-value-w">
                                <div class="legend-pin legend-pin-squared"
                                     style="background-color: #806ef9;"></div>
                                <div class="legend-value">
                                    <span>Categories</span>
                                    <div class="legend-sub-value">
                                        @Model.NumberCategories
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END - Top Selling Chart-->
    </div>
</div>
@section Scripts{
    <script>
        // -----------------
    // init donut chart if element exists
    // -----------------
    let chartData = [];
    chartData.push(@Model.NumberOfBooks);
    chartData.push(@Model.NumberOfUsers);
    chartData.push(@Model.NumberCategories);
    if ($("#booksChart").length) {
      var donutChart = $("#booksChart");

      // donut chart data
      var data = {
        labels: ["Books", "Users", "Category"],
        datasets: [{
          data: chartData,
          backgroundColor: ["#5797fc", "#7e6fff", "#4ecc48"],
          hoverBackgroundColor: ["#5797fc", "#7e6fff", "#4ecc48"],
          borderWidth: 0
        }]
      };

      // -----------------
      // init donut chart
      // -----------------
      new Chart(donutChart, {
        type: 'doughnut',
        data: data,
        options: {
          legend: {
            display: false
          },
          animation: {
            animateScale: true
          },
          cutoutPercentage: 80
        }
      });
    }
    </script>
}