@model IEnumerable<UserBookViewModel>

@{
    ViewData["Title"] = "Users Log";
}

<div class="element-wrapper">
    <h6 class="element-header">
        User Logs
    </h6>
    <div class="table-responsive">
        <table class="table table-lightborder">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Book Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Image
                    </th>
                </tr>
            </thead>
            @{
                int i = 1;
            }
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Name)
                        </td>
                        <td>
                            @item.Book.Category.Name
                        </td>
                        <td>
                            <div class="cell-image-list">
                                <div class="cell-img"
                                 style="background-image: url(@item.Book.ImageUrl)">
                                </div>
                            </div>
                        </td>
                        @{
                            i++;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>