@model IEnumerable<ELibrary.ViewModel.BookViewModel>

@{
    ViewData["Title"] = "Book";
}

<div class="element-wrapper">
    <div class="element-actions">
        <a class="mr-2 mb-2 btn btn-primary btn-rounded" asp-action="AddBook">Create New</a>
    </div>
    <h6 class="element-header">
        Books
    </h6>
    <div class="table-responsive">
        <table class="table table-lightborder">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags)
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @item.Category.Name
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tags)
                        </td>
                        <td>
                            <div class="cell-image-list">
                                <div class="cell-img"
                                 style="background-image: url(@item.ImageUrl)">
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            <a class="mr-2 mb-2 btn btn-secondary" asp-controller="Book" asp-action="EditBook" asp-route-id="@item.Id">Edit</a>
                            <a href="javascript:;" class="mr-2 text-dark" onclick="deleteConfirm(@item.Id)"><i class="fa fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
<script>
    function deleteConfirm(id){
        alertify.confirm('Confirmation', 'Are you sure you want to delete this book', function()
        {
            deleteReview(id);
        }, 
        function(){ });
     }
    function deleteReview(id) {
        let url = "/admin/book/delete/"+id;
        $.ajax({
            url: url,
            type: "GET",
            data: "",
            success: function (data) {
                if (data.error == false) {
                    location.reload();
                }
                else {
                    alertify.message(data.message);
                }
            },
            error: function (data) {
                alertify.error("Something went wrong");
            }
        });
    }
</script>
}